<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="style.css"> 
	<title>Welcome to Pokemon World</title>
</head>

<body class = "bodyIndex">
	<h1>Welcome to Pokemon World</h1>

    <h2>Let's Explore some of our Pokemon</h2>
    <img id = "index_img" src = "/additional_css/backgroundpoke.jpg" alt="Hello Pokemon">

    <ul>
        <li>To enter your Favorite Pokemon select <a href="/user">Please Enter Here: </a></li>
        <li>To search your Favorite Pokemon <a href="/form">Search Here: </a></li>
        <li>To know about your Favorite Pokemon <a href="/search">Pokemon Search</a></li>
    </ul>

</body>
</html>