<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style.css">
	<title>Favorite Pokemon</title>
</head>

<body class = "formBody">
	<h1>Display Favorite Pokemon for the Users </h1>
	<form action="/search" method="post">        
		<label><strong>Pokemon Name:</strong> <input type="text" name="pokemon"/> </label> 
		<br>    
        <input type="submit" value="Submit Request" name="submit"/>
	</form>
</body>
</html>